.nav{
    display: flex;
    justify-content: space-between;
}
.nav h1{
    color: blue;
    margin:0%;
    font-size: 40px;
}

.nav ul{
    display: inline-flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.nav li{
    padding-left: 15px;
    padding-top: 15px;
}
.nav li a{
    text-decoration: none;
    color: blueviolet;
    cursor: pointer;
}

.nav .nav-search{
    margin: top 5px;
    flex:1;
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
}

.nav .nav-search input{
    flex: 1;
    color: blueviolet;
    border: 1px solid blueviolet;
    height: 40px;
    border-right: 0px;
}

.suggested-search{
    position: absolute;
    top: 50px;
    z-index: 10;
    display: list-item !important;
    border: 1px solid #ddd;
    background-color: #fff;
    width: 300px;
  }
  .suggested-search li {
    padding:5px;
    border: 1px solid #ddd;
  }
  .suggested-search li a{
    cursor: pointer;
    color: blueviolet;
  }

/* Styles for the list items under ngSwitchCase 'default' */
.headercss ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .headercss ul li {
    display: inline-block;
    margin-right: 15px;
  }
  
  .headercss ul li:last-child {
    margin-right: 0;
  }
  
  .headercss ul li a {
    text-decoration: none;
    color: #333;
    padding: 8px 12px;
    border-radius: 5px;
    border: 1px solid #333;
  }
  
  .headercss ul li a:hover {
    background-color: #f0f0f0;
  }
  
